{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% block head_title%}Checkout{% endblock head_title %} 
{% block extra_content %}
<div class="container">{{ form.errors }} {{ form.non_field_errors }}</div>
<!--Main layout-->
<main class="">
  <div class="container wow fadeIn">
    <!-- Heading -->
    <h2 class="my-5 h2 text-center">Checkout form</h2>

    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-8 mb-4">
        <!--Card-->
        <div class="card">
          <!--Card content-->
          <form method="POST" class="card-body">
            {% csrf_token %}
            <h3>Choose Shipping Address</h3>

            {% for shipping in addresses %}
            <!-- Default radio -->
            <div class="form-check">
              <input
                class="form-check-input"
                id = "{{shipping}}"
                type="radio"
                name="shipping_address"
                value = {{shipping.id}}
              />
              <label class="form-check-label" for="{{shipping}}">
                {{shipping.full_name}}, {{shipping.house_number}},
                {{shipping.street_name}}
              </label>
            </div>

            {% endfor %}

            <hr />

            <div class="custom-control custom-checkbox">
              {{form.same_billing_address}}
              <label class="custom-control-label" for="same_billing_address"
                >Billing address is same as shipping</label
              >
            </div>

            <div class="hidable_billing">
            <hr />
            <h3>Choose Billing Address</h3>
              <hr />
              {% for billing in addresses %}
              <!-- Default radio -->
              <div class="form-check">
                <input
                  class="form-check-input"
                  id= "{{billing}}"
                  type="radio"
                  name="billing_address"
                  value = {{billing.id}}
                />
                <label class="form-check-label" for="{{billing}}">
                  {{billing.full_name}}, {{billing.house_number}},
                  {{billing.street_name}}
                </label>
              </div>

              {% endfor %}

            </div>
            <hr />
            <h3>Payment Options</h3>
            <div class="d-block my-3">
              {{form.payment_method.label}} 
              {% for value,name in form.fields.payment_method.choices %}
              <div class="custom-control custom-radio">
                <input
                  id="{{name}}"
                  name="payment_method"
                  value="{{value}}"
                  type="radio"
                  class="custom-control-input"
                  required
                />
                <label class="custom-control-label" for="{{name}}"
                  >{{name}}</label
                >
              </div>
              {% endfor %}
            </div>
            <hr class="mb-4" />
            <button class="btn btn-primary btn-lg btn-block" type="submit">
              Continue to checkout
            </button>
          </form>
        </div>
        <!--/.Card-->
      </div>
      <!--Grid column-->

      {% include 'order_snippet.html' %}
    </div>
    <!--Grid row-->
  </div>
</main>
<!--Main layout-->

{% endblock extra_content %}

{% block extra_scripts %}
{% comment %} <script>
var hidable_billing = $('.hidable_billing');
var same_billing_address = document.querySelector('input[name=same_billing_address]');
same_billing_address.addEventListener('change', function(){
  if(this.checked){
    hidable_billing.hide();
  }else{
    hidable_billing.show();
  }
})
</script> {% endcomment %}
{% endblock extra_scripts %}
